<section class="max-w-6xl mx-auto px-6 pb-24">

<div class="text-center md:flex md:justify-between md:items-center mb-12">

<h2 class="text-3xl font-[Josefin_Sans] tracking-widest mb-6 md:mb-0">

OUR CREATIONS

</h2>

<button class="hidden md:block border px-8 py-3 tracking-widest hover:bg-black hover:text-white">

SEE ALL

</button>

</div>


<div class="grid grid-cols-1 md:grid-cols-4 gap-6">

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-deep-earth.jpg">
<img src="/images/mobile/image-deep-earth.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">DEEP EARTH</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-night-arcade.jpg">
<img src="/images/mobile/image-night-arcade.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">NIGHT ARCADE</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-soccer-team.jpg">
<img src="/images/mobile/image-soccer-team.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">SOCCER TEAM VR</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-grid.jpg">
<img src="/images/mobile/image-grid.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">THE GRID</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-from-above.jpg">
<img src="/images/mobile/image-from-above.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">FROM UP ABOVE VR</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-pocket-borealis.jpg">
<img src="/images/mobile/image-pocket-borealis.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">POCKET BOREALIS</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-curiosity.jpg">
<img src="/images/mobile/image-curiosity.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">THE CURIOSITY</p>
</div>

<div class="relative">
<picture>
<source media="(min-width:768px)" srcset="/images/desktop/image-fisheye.jpg">
<img src="/images/mobile/image-fisheye.jpg" class="w-full">
</picture>
<p class="absolute bottom-6 left-6 text-white text-2xl font-[Josefin_Sans]">MAKE IT FISHEYE</p>
</div>

</div>


<div class="flex justify-center mt-10 md:hidden">

<button class="border px-8 py-3 tracking-widest">

SEE ALL

</button>

</div>

</section>