<section class="relative h-[650px]">

<picture>

<source media="(min-width:768px)" srcset="/images/desktop/image-hero.jpg"/>

<img src="/images/mobile/image-hero.jpg" class="absolute w-full h-full object-cover"/>

</picture>

<div class="absolute inset-0 flex items-center px-6 md:px-24">

<div class="border border-white p-6 md:p-10 max-w-xl">

<h1 class="text-white text-4xl md:text-6xl font-[Josefin_Sans] leading-tight">

IMMERSIVE  
EXPERIENCES  
THAT DELIVER

</h1>

</div>

</div>

</section>
</div>

</section>